# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editors / OS
.vscode/
.idea/
.DS_Store
